body {
  font-family: "Roboto", sans-serif;
  color: #252525;
}

header {
  background-color: #eebb44;
  margin-bottom: 40px;
}

header h1 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 5px;
  font-size: 16px;
}

.box {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.box-image {
  width: 100%;
}

.char-info {
  padding: 20px;
}

.char-info h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.char-info p {
  font-size: 15px;
  margin-top: 12px;
}