header {
	height: 110px;
	background-color: #eebb44;
	margin-bottom: 40px;
}

body {
	font-family: "Roboto", sans-serif;
	color: #252525;
}

h1, header p {
	margin-left: 100px;
}

h1 {
	font-size: 30px;
	margin-bottom: 0;
	line-height: 1.5;
}

header p {
	margin-top: 2px;
	font-size: 18px;
}

.box {
	border: 1px solid #E5E5E5;
	height: 300px;
	/*margin-bottom: 50px;*/
	/*display: inline-block;*/
}

.box img {
	/*height: 100px;*/
	width: 100%;
}

main {
	padding-top: 100px;
}

main .row {
	margin-bottom: 20px;
}

.char-info {
	text-align: center;
}

div {
	display: block;
}

h2, .char-info p {
	text-align: left;
	margin-left: 20px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

.char-info p {
	font-size: 15px;
}